<mat-toolbar color="primary">
  <a routerLink="/">ColorPalettePro</a>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>list</mat-icon>
  </button>
  <ul class="navigation mt-3" [ngClass]="{ show: showNavigation }">
    <!-- <a mat-button routerLink="/home">PALETTES</a> -->
    <a mat-button routerLink="">GRADIENT</a>
    <a mat-button routerLink="/mulitplecolorgraditent">ADVANCED</a>
    <a mat-button routerLink="/contact">CONTACT</a>
  </ul>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">GRADIENT</button>
  <button mat-menu-item routerLink="/mulitplecolorgraditent">ADVANCED</button>
  <button mat-menu-item routerLink="/contact">CONTACT</button>

</mat-menu>