<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-transparent border-0 ">
        <div class="card-title mt-4">
          <h1 class="text-center fw-bolder ">ColorPalettePro</h1>
        </div>
        <div class="card-body">
          <div class="card bg-transparent border-0 ">
            <div class="card-title">
              <h1 class="border-bottom">Introduction:</h1>
            </div>
            <div class="card-body">
              Welcome to ColorfulPalette, a powerful and user-friendly color generator that puts the world of vibrant
              colors at your
              fingertips. Whether you're a designer, artist, or developer, ColorfulPalette is here to assist you in
              exploring,
              manipulating, and generating beautiful color palettes for your projects. With its intuitive interface and
              diverse
              features, you'll be inspired to create eye-catching designs effortlessly.
            </div>
          </div>
          <div class="card bg-transparent border-0 ">
            <div class="card-title">
              <h4 class="border-bottom">Key Features:</h4>
            </div>
            <div class="card-body">
              <ul>
                <li> Intuitive Color Picker:</li>
                <p>Use our intuitive color picker to select your desired colors. Pick from a wide spectrum using the
                  color
                  wheel or manually set RGB, HSL values, or HEX codes. The color picker makes it easy to capture the
                  exact
                  shades you envision.
                </p>
                <li>Color Manipulation:</li>
                <p>Take control of your colors with our manipulation tools. Adjust brightness, contrast, and generate
                  shades or tints to fine-tune your chosen colors. Explore complementary, analogous, and triadic colors
                  to
                  find the perfect harmonies for your designs.
                </p>
                <li>Color Palettes:</li>
                <p>Organize your colors with custom color palettes. Save and export your favorite combinations for easy
                  access later. Whether you're creating a website theme or a brand identity, our color palettes keep
                  everything organized and accessible.
                </p>
                <li>Real-time Preview:</li>
                <p> Visualize your color selections in real-time. See how your chosen colors blend together on our
                  preview
                  canvas, giving you a glimpse of how they would appear in your design or project.
                </p>

                <li>Color Conversion:</li>
                <p>Easily convert colors between RGB, HSL, and HEX formats. Seamlessly switch between different color
                  models to ensure consistency and compatibility across your projects.
                </p>
                <li>Responsiveness:</li>
                <p>ColorfulPalette is designed to be responsive, ensuring you can create and explore colors on any
                  device
                  - from your desktop to your tablet or smartphone.
                </p>
              </ul>
            </div>
          </div>
          <div class="card bg-transparent border-0 ">
            <div class="card-title">
              <h4 class="border-bottom"> How to Use ColorfulPalette:</h4>
            </div>
            <div class="card-body">
              <li>Color Selection:</li>
              <p>Click and drag on the color wheel to select your base color.Use the RGB and HSL sliders to fine-tune
                the color components. Input a HEX code to instantly apply a specific color.
              </p>
              <li>Color Manipulation: </li>
              <p>Adjust the brightness and contrast using intuitive sliders.Generate shades or tints of your selected
                color for additional variations.Explore complementary, analogous, and triadic colors to create
                well-balanced palettes.</p>
              <li>Color Palette Creation:</li>
              <p>Save your color combinations to custom palettes.
                Name your palettes for easy identification and reuse.
                Export your palettes for use in your favorite design tools.</p>
              <li>Real-time Preview:</li>
              <p> Observe how your chosen colors interact on the preview canvas.
                Experiment with different color combinations to find the perfect fit.</p>
              <li> Color Conversion:</li>
              <p>Convert colors between RGB, HSL, and HEX formats seamlessly.
                Use the converted codes in your projects without hassle</p>
            </div>
          </div>
          <div class="card border-0 bg-transparent ">
            <div class="d-flex justify-content-center">
              <a href="https://www.facebook.com/omkar.dhapte.31/" target="_blank" mat-raised-button class="mx-3"
                color="primary">
                Facebook
              </a>
              <a href="https://twitter.com/dhapte55187" target="_blank" mat-raised-button class="mx-3" color="primary">
                Twitter
              </a>
              <a href="https://www.instagram.com/omkardhapte22/?igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"
                mat-raised-button class="mx-3" color="primary">
                Instagram
              </a>
              <a href="https://www.linkedin.com/in/omkar-dhapte-103380226/" target="_blank" mat-raised-button
                class="mx-3" color="primary">
                Linkedin
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>