/* src/app/app.component.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.github-info,
.linkedin-info {
  margin-bottom: 20px;
}

.github-info a,
.linkedin-info a {
  text-decoration: none;
  color: #0366d6;
}

button {
  background-color: #0366d6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.project-details,
.webdev-details {
  display: none;
  margin-bottom: 20px;
}

.project-details ul,
.webdev-details ul {
  list-style-type: disc;
  margin-left: 20px;
}

.project-details li,
.webdev-details li {
  margin-bottom: 10px;
}
