.bd {
  height: 50px;
  text-align: center;
  width: 180px;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  letter-spacing: 0.094em;
}
