<app-header></app-header>
<div class="container">
  <div class="card mt-5 border-0 bg-transparent">
    <div class="card-title">
      <div class="d-flex align-items-center justify-content-center ">
        <h1>Generate a CSS Color Gradient</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-center flex-column gap-0">
        <mat-form-field appearance="outline">
          <mat-label>Gradient Type</mat-label>
          <mat-select (selectionChange)="onSelect($event)">
            <mat-option value="">Select an Option</mat-option>
            <mat-option *ngFor="let option of options" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="selectedOption=='Radial Gradient'">
          <mat-form-field appearance="outline">
            <mat-label>Shapes</mat-label>
            <mat-select (selectionChange)="onSelectShape($event)">
              <mat-option value="">Select an Shape</mat-option>
              <mat-option *ngFor="let shapes of shapes" [value]="shapes.name">
                {{ shapes.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="selectedOption!='Radial Gradient'">
          <mat-form-field appearance="outline">
            <mat-label>Angle</mat-label>
            <input matInput type="text" [(ngModel)]="degree" maxlength="3" appDegree />
          </mat-form-field>
        </ng-container>
        <div class="col">
          <div class="d-flex justify-content-around">
            <input [(colorPicker)]="color1" class="bd text-white" [value]="color1" [style.background]="color1"
              readonly />
            <input [(colorPicker)]="color2" class="bd text-white" [value]="color2" [style.background]="color2"
              readonly />
          </div>
        </div>

        <div class="col">
          <div class="d-flex justify-content-center">
            <button mat-icon-button class="addButton" (click)="addInputField()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="d-flex" *ngFor="let input of inputFields; let i = index">
            <input [(colorPicker)]="input.inputColor" class="bd text-white" [value]="input.inputColor"
              [style.background]="input.inputColor" readonly />
            <button mat-icon-button class="minButton" (click)="removeInputField(i)">
              <mat-icon>minimize</mat-icon>
            </button>
          </div>

        </div>
        <div class="col d-flex justify-content-center gap-0">
          <button mat-raised-button class="bd" color="primary" (click)="getLinearGradient()">Generate Gradient</button>
        </div>
        <div class="col d-flex justify-content-center">
          <mat-form-field appearance="outline" class="w-75">
            <mat-label>Copy Value</mat-label>
            <input matInput type="text" #colorvalue [value]="selectedColor" readonly />
          </mat-form-field>
          <button mat-icon-button (click)="copyValue(colorvalue.value)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>