<div class="container" [style.background]="selectedColor">
  <div class="row">
    <div class="col">
      <h1>Generate a CSS Color Gradient</h1>
    </div>
    <div class="col">
      <div class="formgenrator">
        <p>Gradient Type</p>
        <select (change)="onSelect($event.target)">
          <option value="">Select an Option</option>
          <option *ngFor="let option of options" [value]="option.name">
            {{ option.name }}
          </option>
        </select>
      </div>
      <div class="shape" [style.display]="shapeVisible ? 'block' : 'none'">
        <p>Shapes</p>
        <select (change)="onSelectShape($event.target)">
          <option value="">Select an Shape</option>
          <option *ngFor="let shapes of shapes" [value]="shapes.name">
            {{ shapes.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="angles" [style.display]="!shapeVisible ? 'block' : 'none'">
        <p>Angle</p>
        <input type="text" [(ngModel)]="degree" maxlength="3" appDegree />
      </div>
      <div class="col">
        <p>Choose Color</p>
        <div class="colorpicker">
          <input
            [(colorPicker)]="color1"
            [style.background]="color1"
            readonly
          />
          <input
            [(colorPicker)]="color2"
            [style.background]="color2"
            readonly
          />
        </div>
      </div>

      <div class="col">
        <div
          class="InfinteColor"
          *ngFor="let input of inputFields; let i = index"
        >
          <input
            [(colorPicker)]="input.inputColor"
            [style.background]="input.inputColor"
            readonly
          />
          <button class="minButton" (click)="removeInputField(i)">
            <mat-icon>minimize</mat-icon>
          </button>
        </div>
        <button class="addButton" (click)="addInputField()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col">
        <div class="colorpicker">
          <button (click)="getLinearGradient()">Generate Gradient</button>
        </div>
      </div>
      <div class="col">
        <p>Copy Value</p>
        <div class="result">
          <input
            type="text"
            class="showValue"
            #colorvalue
            [value]="selectedColor"
            readonly
          />
          <button (click)="copyValue(colorvalue.value)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
